<h2>Action</h2>
<div class="thumbnail">
  <img src="assets/images/american-gangster.jpg" alt="image is not available">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/movie/american-gangster" title="American Gangster">American Gangster</a>
    </h4>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
  
</div>
<div class="thumbnail">
    <img src="assets/images/ant-man.jpg" alt="image is not available">
    <div class="caption">
      <h4 class="text-ellipsis">
        <a routerLink="/movie/ant-man" title="Ant Man">Ant Man</a>
      </h4>
      <p><strong>Release Date: </strong>{{movie.release_date}}</p>
      <p>
        <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
        <small class="label label-success pull-right" *ngIf="movie.vote_average">
          {{movie.vote_average}}
          <i class="glyphicon glyphicon-star"></i>
        </small>
      </p>
    </div>
</div>

<div class="thumbnail">
    <img src="assets/images/deadpool.jpg" alt="image is not available">
    <div class="caption">
      <h4 class="text-ellipsis">
        <a routerLink="/movie/deadpool" title="Deadpool">Deadpool</a>
      </h4>
      <p><strong>Release Date: </strong>{{movie.release_date}}</p>
      <p>
        <a routerLink="/movie/">View details &raquo;</a>
        <small class="label label-success pull-right" *ngIf="movie.vote_average">
          {{movie.vote_average}}
          <i class="glyphicon glyphicon-star"></i>
        </small>
      </p>
    </div>
</div>
<div class="thumbnail">
    <img src="assets/images/bad-boys.jpg" alt="image is not available">
    <div class="caption">
      <h4 class="text-ellipsis">
        <a routerLink="/movie/bad-boys" title="Bad Boys">Bad Boys</a>
      </h4>
      <p><strong>Release Date: </strong>{{movie.release_date}}</p>
      <p>
        <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
        <small class="label label-success pull-right" *ngIf="movie.vote_average">
          {{movie.vote_average}}
          <i class="glyphicon glyphicon-star"></i>
        </small>
      </p>
    </div>
</div>


<h2>Adventure</h2>
<div class="thumbnail">
  <img src="assets/images/american-gangster.jpg" alt="image is not available">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/movie/jurassic-world" title="Jurassic World">Jurassic World</a>
    </h4>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
  
</div>

<h2>Thriller</h2>
<div class="thumbnail">
  <img src="assets/images/running-scared.jpg" alt="image is not available">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/movie/running-scared" title="Running Scared">Running Scared</a>
    </h4>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
  
</div>
<div class="thumbnail">
    <img src="assets/images/project-x.jpg" alt="image is not available">
    <div class="caption">
      <h4 class="text-ellipsis">
        <a routerLink="/movie/project-x" title="Project X">Project X</a>
      </h4>
      <p><strong>Release Date: </strong>{{movie.release_date}}</p>
      <p>
        <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
        <small class="label label-success pull-right" *ngIf="movie.vote_average">
          {{movie.vote_average}}
          <i class="glyphicon glyphicon-star"></i>
        </small>
      </p>
    </div>
</div>
<h2>Drama</h2>
<div class="thumbnail">
  <img src="assets/images/the-hangover.jpg" alt="image is not available">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/movie/the-hangover" title="The Hangover">The Hangover</a>
    </h4>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      <a routerLink="/movie/">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
  
</div>
<div class="thumbnail">
    <img src="assets/images/we-are-the-millers.jpg" alt="image is not available">
    <div class="caption">
      <h4 class="text-ellipsis">
        <a routerLink="/movie/we-are-the-millers" title="We are the millers">We are the millers</a>
      </h4>
      <p><strong>Release Date: </strong>{{movie.release_date}}</p>
      <p>
        <a routerLink="/movie/">View details &raquo;</a>
        <small class="label label-success pull-right" *ngIf="movie.vote_average">
          {{movie.vote_average}}
          <i class="glyphicon glyphicon-star"></i>
        </small>
      </p>
    </div>
</div>
<h2>Romance</h2>
<div class="thumbnail">
  <img src="assets/images/ddlj.jpg" alt="image is not available">
  <div class="caption">
    <h4 class="text-ellipsis">
      <a routerLink="/movie/ddlj" title="Dilwale dulhaniya le jayenge">Dilwale dulhaniya le jayenge</a>
    </h4>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      <a routerLink="/movie/{{movie.id}}">View details &raquo;</a>
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
      </small>
    </p>
  </div>
  
</div>
